body{
    background: rgb(200, 200, 200);
    font-family: 'Roboto Mono', monospace;
}

div#corpocompleto {
    background: wheat;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 2px 2px 1px rgba(10, 10, 10, 0.6);
    border-radius: 10px 20px
}

header#cabecalho{
    margin: 10px;
}

nav#navegacao li {
    list-style: none; 
    margin: 10px;
    display: inline;
}

nav#navegacao li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: rgb(109, 60, 76);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
nav#navegacao li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}

div#conteudo{
    margin: 10px;
}

footer#rodape{
    margin: 10px;
}

em#var{
    color: red;
}

strong#variavel{
    color: rgb(50, 83, 192);
}

pre {
    white-space: pre-wrap;
  }

  img{
    width: 70%;
  }

  div#area {
    background-color: aqua;
    width: 40%;
    margin-left: 25%;
  }
  div#res{
    background-color: aqua;
    width: 178px;
    margin-top: 5px;
  }