* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*
    background-image: url('../imagens/bg-mobile-dark.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 
    */
    
    
    /* background: color image reapeat position/size ; */

    background: url(../imagens/bg-mobile-dark.png) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container{
    width: 360px;
    margin: 56px auto 0px;
}

#perfil {
 text-align: center;
 padding: 24px;
}

#perfil img {
    width: 112px;
}

#perfil p {
    font-weight: 500;
    line-height: 24px;
}

/*configuração links*/

ul {
list-style: none;

display: flex;
flex-direction: column;
gap: 16px;
}

ul li a {
display: flex;
align-items: center;
justify-content: center;
padding: 16px 24px;

background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 8px;

backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);

text-decoration: none;
font-weight: 500;

transition: background 0.5s;
}

ul li a:hover{
    background: rgba(255, 255, 255, 0.05);
border: 1.5px solid white;
}
