* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(255, 94, 0);
    padding: 2rem 0;
    color: rgb(255, 255, 255);
    height: 100vh;
}

.main {
    padding: 8px;
    margin: 25% 50px 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main:hover {
    background: rgba(0, 0, 0, 0.7);
    transition: 2s;
}

h1 {
    font-size: 32px;
}

.main img {
    text-align: center;
}


ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}


ul a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    text-align: start;
    padding: 0 8px;
}

ul a:hover {
    color: black;
    background: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    transition: 2s;
}
ul a li {
    list-style: none;
}