.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

#banner {
    width: 100%;
}
.centralizando {
   text-align: center; 
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong{
    color: rgb(255,00,00);
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficios{
    width: 50%;
}