body {
    background-color: rgba(140, 240, 240, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    padding: 8px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 20px;
}