* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: blanchedalmond;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div {
    padding: 16px;
}

/* ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
} */

ul li {
    list-style: none;
    margin: 8px;
}