@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Tilt+Prism&display=swap');


:root {
    --font-principal:'Cedarville Cursive', cursive;
    --font-secundaria: 'Tilt Prism', cursive;
    --bg-color: #00ABB3;
    --primeira-color: #EAEAEA;
    --segunda-color: #3C4048;
    --terceira-color: #B2B2B2;
}

body {
    background-color: var(--bg-color);
    color: var(--primeira-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.titulo-principal {
    font-family: var(--font-secundaria);
    font-size: 5em;
}

.texto-principal {
    margin-top: 1em;
    font-size: 2.5em;
    font-family: var(--font-principal);
}

.mensagem {
    font-size: 1.5em;
    margin-top: 2.5em;
}

.box {
    border:2px solid var(--terceira-color);
    display: inline-block;
    font-size: 4em;
    margin: 20px;
    padding: 10px;
}