body{
    background:rgb(70, 141, 236);
    font-family: 'Cedarville Cursive', cursive;
    font: normal 15pt;
    text-align: center;
}
header{
    color: rgb(255, 255, 255);
}

section#corpo { 
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
}

p {
    text-align: left;
}

select#flista {
    width: 150px;
}

footer{
    color: rgb(255, 255, 255);
    font-style: italic;
}